---
import Layout from "../layouts/Layout.astro";
---

<Layout title="RaMoWeb - About">
    <main>
        <div class="flex flex-col items-center m-8 align-middle gap-6">
            <img
                src="https://avatars.githubusercontent.com/u/11877941?v=4"
                alt="profile picture"
            />
        </div>
    </main>
</Layout>
