---
import Layout from "../layouts/Layout.astro";
---

<Layout title="RaMoWeb - Contact">
    <main>
        <div class="flex flex-col items-center m-8 align-middle gap-6">
            <a
                target="_blank"
                rel="noopener noreferrer"
                href="mailto:rulanxa@gmail.com"
            >
                <h4 class="header mx-8 my-4 text-center text-4xl">
                    raul@ramoweb.com
                </h4>
            </a>
        </div>
    </main>
</Layout>

<style>
    a .header {
        color: #fff;
        transition: text-shadow 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }

    a .header:hover {
        text-shadow:
            0 0 10px #0efeff,
            0 0 20px #0efeff,
            0 0 40px #0efeff,
            0 0 80px #0efeff,
            0 0 160px #0efeff;
    }
</style>
