---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<Layout title="RaMoWeb - Software Developer and Web Designer">
    <main>
        <div class="flex flex-col gap-10 justify-center">
            <Image
                class="rounded-full h-32 w-32 mx-auto"
                src="https://avatars.githubusercontent.com/u/11877941?v=4"
                alt="profile"
                width="460"
                height="460"
                loading="eager"
            />
            <Image
                class="mx-auto"
                src="https://github-readme-stats.vercel.app/api/top-langs/?username=d0vak1n&theme=tokyonight"
                alt="github top languages"
                width="300"
                height="280"
                loading="eager"
            />
        </div>
    </main>
</Layout>
