---
import Layout from "../layouts/Layout.astro";
---

<Layout title="RaMoWeb">
    <main class="flex justify-center min-h-screen">
        <div class="text-center">
            <img
                class="rounded-full h-32 w-32 mx-auto"
                src="https://avatars.githubusercontent.com/u/11877941?v=4"
                alt="profile picture"
            />
        </div>
    </main>
</Layout>
