---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="RaMoWeb - Projects">
	<main>
		<div class="flex flex-col items-center m-8 align-middle gap-6">
			<p>Here are some of the projects I have worked on.</p>
			<Card
				title="RepipiBot"
				body="Dockerized bot that tweets a badword every hour. Using the Twitter API."
				github="https://github.com/d0vak1n/RepipiTwitterbotJS"
				demo="https://x.com/repipibot"
				tags={["Typescript", "Docker", "API", "Express"]}
			/>
			<Card
				title="Todo App"
				body="Todo app with a backend API. Using React, Node.js, and connected to Supabase."
				github="https://github.com/d0vak1n/Supabase-CRUD"
				demo="https://todo.ramoweb.com/"
				tags={["Javascript", "React", "API", "Supabase", "Vite"]}
			/>
			<Card
				title="RaMoWeb"
				body="You are here! My personal website. Built with Astro, Typescript, TailwindCSS and Vite."
				github="https://github.com/d0vak1n/ramoweb"
				demo="https://ramoweb.com/"
				tags={["Astro", "Typescript", "TailwindCSS", "Vite"]}
			/>
			<Card
				title="ft_printf"
				body="Recreation of the printf function in C using my own created libft."
				github="https://github.com/d0vak1n/printf42Barcelona"
				tags={["C", "Makefile", "Linux"]}
			/>
			<Card
				title="libft"
				body="My own library of functions in C. Handling memory allocation, strings, linked lists, etc."
				github="https://github.com/d0vak1n/libft42Barcelona"
				tags={["C", "Makefile", "(✿◠‿◠)"]}
			/>
		</div>
	</main>
</Layout>
