---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="RaMoWeb - Projects">
	<main>
		<div class="flex flex-col items-center m-8 align-middle gap-6">
			<p>Here are some of the projects I have worked on.</p>
			<Card
				title="Project 1"
				body="This is a description of project 1."
				href="#"
				tags={["tag1", "tag2", "tag3", "tag4"]}
			/>
			<Card
				title="Project 2"
				body="This is a description of project 2."
				href="#"
				tags={["tag1", "tag2", "tag3"]}
			/>
			<Card
				title="Project 3"
				body="This is a description of project 3."
				href="#"
				tags={["tag1", "tag2"]}
			/>
		</div>
	</main>
</Layout>
