<nav>
    <ul
        class="flex flex-col text-center sm:flex-row space-y-2 sm:space-y-0 sm:space-x-6 mt-4"
    >
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/projects">Projects</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>
