---
import { ClientRouter } from "astro:transitions";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<ClientRouter />
		<meta charset="UTF-8" />
		<meta name="description" content="RaMoWeb portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex flex-col items-center m-8 align-middle">
			<a href="/">
				<div class="relative">
					<img
						src="1.webp"
						alt="Logo Ramoweb"
						class="header-image w-16 h-16 sm:w-16 sm:h-16 md:w-16 md:h-16 lg:w-16 lg:h-16 xl:w-16 xl:h-16"
					/>
					<img
						src="2.webp"
						alt="Logo Ramoweb Hover"
						class="header-image-hover w-16 h-16 sm:w-16 sm:h-16 md:w-16 md:h-16 lg:w-16 lg:h-16 xl:w-16 xl:h-16 absolute top-0 left-0 opacity-0"
					/>
				</div>
			</a>
			<h1 class="header mx-8 my-4 text-center text-4xl">RamoWeb</h1>
			<h2 class="text-gray-500">Welcome to Raul Moreno Website</h2>
			<nav>
				<ul
					class="flex flex-col text-center sm:flex-row space-y-2 sm:space-y-0 sm:space-x-6 mt-4"
				>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/projects">Projects</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
		<slot />
		<footer>
			<div class="flex justify-center mb-6 mt-4">
				RaMoWeb © {new Date().getFullYear()}
			</div>
		</footer>
	</body>
</html>
<style is:global>
	html {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			"Liberation Mono", "Courier New", monospace;
		background-color: #000;
		color: #fff;
	}

	.header {
		text-shadow:
			-1px -1px 0px #0efeff,
			1px 1px 0px #e213e6;
	}

	.header-image {
		transition: opacity 0.8s ease-in-out;
	}

	.header-image-hover {
		transition: opacity 0.8s ease-in-out;
	}

	.relative:hover .header-image {
		opacity: 0;
	}

	.relative:hover .header-image-hover {
		opacity: 1;
	}
</style>
