---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex flex-col items-center m-8 align-middle">
			<a href="/">
				<img
					src="./../../public/1.webp"
					alt="Logo Ramoweb"
					class="w-16 h-16 sm:w-16 sm:h-16 md:w-16 md:h-16 lg:w-16 lg:h-16 xl:w-16 xl:h-16 transition hover:scale-105"
				/>
			</a>
			<h1 class="header mx-8 my-4 text-center text-4xl">RamoWeb</h1>
			<h2 class="text-gray-500">Welcome to Raul Moreno Website</h2>
		</div>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			"Liberation Mono", "Courier New", monospace;
		background-color: #000;
		color: #fff;
	}
	.header {
		text-shadow:
			-1px -1px 0px #0efeff,
			1px 1px 0px #e213e6;
	}
</style>
